<div class="container">
    <a href="#!/">Return</a>
    <legend>Detalhe do produto</legend>
    <table class="table table-bordered table-hover list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>Data Entrada</th>
            <th>Fornecedor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{vm.produto.produtoID}}</td>
            <td>{{vm.produto.nome}}</td>
            <td>{{vm.produto.quantidade}}</td>
            <td>{{vm.produto.preco}}</td>
            <td>{{vm.produto.dataEntrada | date:'dd/MM/yyyy HH:mm'}}</td>
            <td>{{vm.produto.fornecedor.nome}}</td>
        </tr>
    </tbody>
</table>
</div>